.backdrop{
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100vh;
    opacity: 0.6;
}
.overley{
    position: fixed;
 left: 40vh;
 top:3vh;
    width: 50%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}
@media (max-width:1024px){
    .overley{
        left: 12px;
        width: 80%;

    }
}
