.WrapCard{
    margin-top: 25px;
    margin-right: 15px;
  background-color: #F0E0D9;
border: 1px solid #F0E0D9;
color: salmon;
height: 40%;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.badge{
    padding: 5px;
  color: salmon;
    margin: 5px;
}
@media (max-width:1024px){
  .WrapCard{
    width: 44%;
    font-size:7.5px;
    margin-top: 15px;
    margin-right: 5px;
  }
  .badge{
    padding: 0;
  }
  /* .your{
    display: none;
  } */
}