.choose input{
    margin: 3px;
    border-radius: 4px;
    border: 1px solid rgb(253, 112, 96);
    color: gray;
}
.choose .btn{
    margin: 3px;
    border-radius: 4px;
    border: 1px solid rgb(253, 112, 96);
    color: white;
    background-color: rgb(253, 112, 96);
    cursor: pointer;
   
}
.bump{
    animation: bump 300ms ease-out;
}

@keyframes bump{
    0%{
        transform:scale(1);
    }
    10%{
        transform:scale(0.9);
    }
    30%{
        transform:scale(1.1);
    }
    50%{
        transform:scale(1.15);
    }
    100%{
    transform:scale(1);
}
}
