.wrap{
display: flex;
justify-content: space-between;
}

.wraper a{
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #323A30;;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; ;
  
}
.wraper .active{
    text-decoration: underline;
    color: salmon;
}

.logo{
    font-family: 'Dynalight', cursive;
    padding-left: 15px;
    font-size: 30px;
   
}
.logo h2{
    margin-top: 14px;
}
@media (max-width:1024px){
    .wrap{
        overflow-x: hidden;
    }

.logo{
   font-size: 18px;
   padding-left: 0px;
   
}
.wraper{
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
}
    .wraper a{
        font-size: 10px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 0px;
      
    }
}